<!--parallax 1 -->
<section class="bg-1 text-center">
      <h1>Deverick Apollo Simpson</h1>
        <p class="lead">I write sexy code and will one day become a LEGO master builder</p>
</section>
<!--/parallax 1-->

<section>
    <div class="container-fluid" >
        <div class="row" >
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h1>Portfolio</h1>
            </div>
        </div>
    </div>  
</section>
<script>
(function($) {

    $.fn.parallax = function(options) {

        var windowHeight = $(window).height();

        // Establish default settings
        var settings = $.extend({
            speed        : 0.15
        }, options);

        // Iterate over each object in collection
        return this.each( function() {

            // Save a reference to the element
            var $this = $(this);

            // Set up Scroll Handler
            $(document).scroll(function(){

                var scrollTop = $(window).scrollTop();
                var offset = $this.offset().top;
                var height = $this.outerHeight();

                // Check if above or below viewport
                if (offset + height <= scrollTop || offset >= scrollTop + windowHeight) {
                    return;
                }

                var yBgPosition = Math.round((offset - scrollTop) * settings.speed);

                // Apply the Y Background Position to Set the Parallax Effect
                $this.css('background-position', 'center ' + yBgPosition + 'px');

            });
        });
    }
}(jQuery));

$('.bg-1,.bg-3').parallax({
    speed :f0.15
});

$('.bg-2').parallax({
    speed :f0.25
});

</script>

<script>
    $(".navbar-fixed-top").autoHidingNavbar({
        // see next for specifications
    });
</script>
