<!--parallax 1 -->
<section class="bg-1 text-center">
    <h1>Deverick Apollo Simpson</h1>
        <p class="lead">I write code and will one day become a LEGO master builder</p>
        <!-- Contextual button for informational alert messages -->
        <a href="#contact" role="button" class="btn btn-danger" >Hire Me</a>
        <!-- Indicates caution should be taken with this action -->
        <a href="mailto:deverick@me.com" role="button" class="btn btn-warning" >Start a Project</a>
</section>
<!--/parallax 1-->


<section>
    <div id="about" class="container-fluid" >
        <div class="row" >
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 ">
                <h1 class="text-center">Profile</h1>
                <hr  width="40%" class="style17">
                <p class="subtitle text-center">"Once a task has begun, never leave until its done,"</p>
                <div class="shell-wrap">
                    <p class="shell-top-bar">/Users/Deverick-Simpson/Documents/Resume/</p>
                    <ul class="shell-body">
                        <li>cd /Users/Deverick-Simpson/Documents/Resume/</li>
                        <li>less Deverick.txt</li>
                        <li>Software Engineer</li>
                        <li>Download as PDF <a href="photos/Resume.pdf" target="_blank">**CLICK HERE**</a></li>
                    </ul>
                </div>
            </div>
      
        </div>
    </div>
</section>



<section id="portfolio">
    <div  class="container-fluid" >
        <div class="row" >
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h1>Some of My Latest Projects</h1>
                <hr  width="40%" class="style17">
                <p class="subtitle">"Be the task large or small, do it well, or not at all."</p>  
            </div>       
        </div>
        <div class="row">
            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6 text-center">
                <div class = "thumbnail">
                    <img src="photos/projects/size/O5VSGC2-size.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                </div>
                <div class = "caption">
                    <h3>MSA Family Reunion</h3>
                        <p>Built with the Bootstrap framework and javascript, the site offered a simple solution to manage event financing and daily agenda of a biannual family reunion. </p>
                        <a href="http://www.msafamilyreunion.com" class = "btn btn-primary" role = "button">MSA Home Page</a>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-6 col-sm-6 col-xs-6 text-center">
                <div class = "thumbnail">
                    <img src="photos/projects/size/O9VY8I1-size.jpg" class="img-fluid img-thumbnail" alt="Responsive image">
                </div>
                <div class = "caption">
                    <h3>Berks Barber Shop</h3>
                    <p>Cory Berks voiced a need for a website to market his barber shop in Lincoln, NE.  It didnt have much purpose outside of marketing but soon after initial design, it became clear there was a need for an appointment system to manage client scheduling.  The site has been a great success for the shop, creating a more effecient client checkout flow.</p> 
                        <a href="http://www.berksbarbershop.com" class = "btn btn-primary" role = "button">Berks Home Page</a>
                </div>
            </div>    
        </div>
    </div>  

</section>





<section>
    <div id="contact" class="container-fluid" >
        <div class="row" >
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h1>Contact</h1>
                <hr  width="40%" class="style17">
                <p class="subtitle">Let's work on a project</p> 
            </div>       
        </div>
        <div class="row">
            <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <h4>Bitcoin Address: 15FiMFoMFy94ZPQ7nQQ6V7j4RUYVZPtDr7</h4>
                <h4>PGP:</h4>
                <h4>Email: deverick@me.com</h4>
            </div>
        </div>
    </div>
</section>



<!-- Bootstrap -->
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Bootflat's JS files.-->
<script src="node_modules/bootflat/bootflat/js/icheck.min.js"></script>
<script src="node_modules/bootflat/bootflat/js/jquery.fs.selecter.min.js"></script>
<script src="node_modules/bootflat/bootflat/js/jquery.fs.stepper.min.js"></script>

<!--jQuery-->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{{ site.baseurl}}/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>    
